body{margin:0;overflow-x:hidden;}header{background-color:#ffde16;}content{width:70%;margin:auto;}footer{height:150px;width:100%;background-color:white;border-top:#ffde16 2px solid;padding:25px 200px;}
